<app-header title="Curriculum"></app-header>

<ion-content [fullscreen]="true">
  <ion-list>
      <ion-label>
        <h3>2022 - Actualidad</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam cupiditate possimus necessitatibus, nam consequuntur</p>
      </ion-label>
      <ion-label>
        <h3>2017 - 2022</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil quisquam cupiditate possimus necessitatibus, nam consequuntur</p>
      </ion-label>
    
    
  </ion-list>
</ion-content>
